header{
    width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
#menu {
    width: 250px;
  height: 100%;
  background-color: #191970;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translateX(250px); /* right0から250px移動した位置 */
  transition: all .5s; /* 移動する速さ */
}
header {
  width: 100%;
  background-color: #f390b9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}