header{
    width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
#menu {
    width: 250px;
  height: 100%;
  background-color: #191970;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translateX(250px); /* right0から250px移動した位置 */
  transition: all .5s; /* 移動する速さ */
}
#menu.open {
    transform: translateX(0); /* right0まで-250px移動 */
  }
  .menu-background {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 0; /* 透明度を0にすることで隠す */
    transition: opacity 0.5s; /* 透明度の0→1になる速度 */
  }
  .menu-background.open {
    width: 100%;
    height: 100%;
    opacity: 1; /* メニューが表示されているときには背景が表示 */
  }