/* 基本装飾 */
header {
    background: #333;
    padding: .5rem;
    text-align: right;
  }
  a {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
  }
  li {
    margin: 2rem 0;
  }
   
  /* ボタン */
  .btn-menu {
    border: 1px solid #999;
    background: transparent;
    color: #fff;
    padding: .5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    line-height: 1;
  }
   
  /* メニュー */
  nav {
    background: #0bd;
    position: absolute;
    z-index: 1;
    top: 5rem;
    right: 0;
    overflow-x: hidden;
    text-align: center;
    width: 0;
    transition: .5s;
  }
  
  /*メニューを開いたとき*/
  nav.open-menu{
      width: 30%;
      height: 200%;
  }
  
  
  h1 {
     color: coral;
     text-align: center;
  }
  
  div {
     text-align: center;
  }
  
   #contents {
     display:inline-block;
   position:relative;
   /*background-color:white;*/
   border-radius:10px;
   padding:10px;
   margin:0 0 0 10px;
   
  }
  
  body{
    font-size: 15px;
  }

/*３カラム*/
.column3 .s{
  width: 1000px;
  height: 30px;
}
.column3 div{
  display: inline-block;
}
.column3 .one{
  margin-right: 20px;
  margin-left: 20px;
}
.column3 .two{
  margin-right: 20px;
}
.column3 .three{
    margin-right: 20px;
}

/*人数表示*/
.one .game{
  height: 200px;
  width: 250px;
}
.one .cad{
  height: 200px;
  width: 250px;
}
.two .cg{
  height: 200px;
  width: 250px;
}
.two .it{
  height: 200px;
  width: 250px;
}
.three .web{
  height: 200px;
  width: 250px;
}
.three .sp{
  height: 200px;
  width: 250px;
}
/*吹き出し*/
.balloon {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 7px 10px;
  width: 200px;
  height: 50px;
  color: #555;
  font-size: 16px;
  background: #e0edff;
  border-radius: 15px;
}

.balloon:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #e0edff;
}

.balloon p {
  margin: 0;
  padding: 0;
}